<section data-ng-controller="HomeController" class="main__content--promo">
	<article>
    <h1>Run Boaster</h1>
    <p>Under active development.</p>
    <p>Designed to give runners a place to analyse and share running data.</p>

    <p>Run, record, upload, then boast about it! </p>

    <p><strong>We're in BETA testing phase</strong><p>
    <p>There's a lot still to do but you can create an account or use the demo account to see what is currently available</p>

    <p>Leave your feedback: mrwarrengreen @ gmail . com</p>

    <!-- <p class="text-center"> -->
    <p>
    <a href="/#!/signup" class="btn btn-primary buttons__large">Sign up for free</a>
    &nbsp;&nbsp;OR&nbsp;&nbsp;
    <a ui-sref="signin" class="btn btn-primary buttons__large">Log in</a>
    </p>
    <br />
    <p>DEMO account:</p>
    <p>user: demo</p>
    <p>password: password</p>

  </article>
</section>
