<section data-ng-controller="HomeController" class="main-content--promo">
	<div data-main-content-hero class="main-content__hero">
    <h1>Run Boaster</h1>
    <p>Run, record, upload, then boast about it! </p>

    <p>
      <a href="/#!/signup" class="btn button__primary buttons__medium">Sign up for free</a>
      &nbsp;&nbsp;OR&nbsp;&nbsp;
      <a ui-sref="signin" class="btn button__primary buttons__medium">Log in</a>
    </p>

    <p class="main-content__hero--under-dev-p"><span>Under active development</span></p>

    <div class="main-content__hero__demo-account">
      <p>DEMO acc... user: demo, pass: password</p>
    </div>

  </div>

</section>
