<section>
  <div>
    <p>MAP for single run</p>
    <style>.angular-google-map-container { height: 400px; }</style>

    <ui-gmap-google-map
      center='mapsCtrl.map.center'
      zoom='mapsCtrl.map.zoom'>

      <ui-gmap-polyline
        ng-repeat="p in mapsCtrl.polylines"
        path="p.path"
        stroke="p.stroke"
        visible='p.visible'
        fit="false"
        static="true"
        geodesic="true"
        editable="p.editable"
        draggable="false">
      </ui-gmap-polyline>

      <ui-gmap-marker
        ng-repeat="m in mapsCtrl.markers"
        coords="m.coords"
        options="m.options"
        idkey="m.id"
        icon="m.icon"
        draggable="false">
      </ui-gmap-marker>

    </ui-gmap-google-map>

  </div>
</section>