.markerLabels {
  width: 50px;
  min-height: 27px;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  line-height: 15px;
  padding: 3px;
  background-color: blue;
  border-radius: 0px 10px 10px;
}

.gmap__container {
  border: 4px solid #FFF;
}


.mapSummaryItem {
  // color: $theme-font---color;
  padding: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 0.8em;
  line-height: 0.8em;

  .label {
    color: #FFF;
  }

  .icon {
    display: none;
  }

  &.active .icon {
    display: block;
    position: absolute;
    right: 15px;
  }

  &:hover {
    // background-color: $green;
  }

  &.active {
    // background-color: darken($green, 10%);
  }
}
