.markerLabels {
  width: 50px;
  min-height: 27px;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  line-height: 15px;
  padding: 3px;
  background-color: blue;
  border-radius: 0px 10px 10px;
}


