// ----- Left Nav ----- //

// ----- For IE 8 &lt ----- //
.left-nav {
  position: absolute;
  left: -$left-nav-width;
}
// ----- END For IE 8 &lt ----- //

.left-nav {
  width: $left-nav-width;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom:55px;
  position: fixed;
  top: 50px;
  left:0px;
  transform: translateX(-$left-nav-width);
  display: block;
  z-index: 9999; // higher than the leaflet map controllers (1000)
  transition: 250ms cubic-bezier(0.1,.57,.1,1)
}




// ----- TRANSITIONED TO STATE ----- //

body.leftNav--toggle {

  // toggle on nav for -768px (mobile view)
  // ----- For IE 8 &lt ----- //
  .left-nav {
    position: absolute;
    left: $left-nav-width;
  }
  // ----- END For IE 8 &lt ----- //

  .left-nav {
    position: fixed;
    left: 0px;
    transform: translateX(0);
  }


  // toggle off nav for 768px +

  @media (min-width: $screen-sm-min) {

    // ----- For IE 8 &lt ----- //
    .left-nav {
      position: absolute;
      left: -$left-nav-width;
    }
    // ----- END For IE 8 &lt ----- //

    .left-nav {
      position: fixed;
      left:0px;
      transform: translateX(-$left-nav-width);
    }
    .main-content {
      margin-left: 0;
    }

  }

}

// ----- END TRANSITIONED TO STATE ----- //

.left-nav ul{
  padding-left: 0;
  list-style: none;
}
.left-nav nav > ul {
  background-color: $theme-bg---color;
  border-right: 2px solid #FFF;

  li {
    height: 55px;
    cursor: pointer;
    outline: 0;
    overflow: hidden;
    position: relative;

    a {
      padding: 15px 25px;
      line-height: 25px;
      font-size: 16px;
      height: 55px;
      display: block;
    }

    &:hover a{
      // background-color: darken($blue-dark, 5%);
      text-decoration: none;
    }

    span.toggleIcon {
      position: absolute;
      right: 15px;
      line-height: 25px;
    }

    &.open {
      height: 100%;

      span.toggleIcon {
        transform: rotate(-90deg);
      }
    }

    &.active {
      // background-color: darken($blue-dark, 10%);

      a {
        color: $green-pale;
      }
    }

  }
}

.left-nav nav ul li.hasChildren ul {
  margin-left: 25px;
  border-left: 2px solid #FFF;

  li:before {
    width: 15px;
    position: absolute;
    left: 0px;
    top: 22px;
    content: '';
    display: inline-block;
    border: 1px solid #FFF;
  }

  li.active:before {
    border: none;
  }

  li a{
    font-size: 14px;
    line-height: 15px;

    span.icon {
      width: 16px;
      height: 17px;
      vertical-align: top;
    }
    span.navTitle {
      margin-left: 10px;
      line-height: 16px;
    }
  }
}


.left-nav nav > ul > li span.icon {
  width: 18px;
  height: 19px;
  display: inline-block;
}

.left-nav nav > ul > li span.navTitle {
  margin-left: 15px;
  line-height: 18px;
}



// ----- 768px and up ----- //
// Show nav on first load
@media (min-width: $screen-sm-min) {

  // ----- For IE 8 &lt ----- //
  .left-nav {
    position: absolute;
    left: 0;
  }
  // ----- END For IE 8 &lt ----- //

  .left-nav {
    position: fixed;
    left:0px;
    transform: translateX(0);
  }

}

@media (min-width: $screen-md-min) {
    // resize nav smaller for non mobile

    .left-nav {
      border-right: 0;
      border-top:  0;
    }
    .left-nav nav > ul li {
      height: 45px;

      a {
        height: 45px;
        line-height: 16px;
      }
      span.toggleIcon {
        line-height: 16px;
      }
    }
}

@media(min-width: $screen-lg-min) {
  .left-nav nav > ul {
    border-right: 0px;
  }
}
