// ----- Left Nav ----- //


// ----- For IE 8 &lt ----- //
.left-nav {
  position: absolute;
  left: -$left-nav-width;
}
// ----- END For IE 8 &lt ----- //

.left-nav {
  width: $left-nav-width;
  min-height: 100%;
  position: fixed;
  top: 50px;
  left:0px;
  transform: translateX(-$left-nav-width);
  display: block;
  overflow: hidden;
  z-index: 1;
  background-color: $blue-dark;
}

.left-nav ul{
  padding-left: 0;
  list-style: none;
}

.left-nav nav > ul li {
  height: 45px;
  cursor: pointer;
  outline: 0;
  overflow: hidden;
  position: relative;

  &.open {
    height: 100%;

    span.toggleIcon {
      transform: rotate(-90deg);
    }
  }
}

.left-nav span.toggleIcon {
  position: absolute;
  right: 15px;
}

.left-nav nav > ul li {
  a {
    padding: 15px 25px;
    line-height: 16px;
    font-size: 16px;
    height: 45px;
    display: block;
  }

  &:hover a{
    background-color: darken($blue-dark, 5%);
    text-decoration: none;
  }
  &.active {
    border-left: 5px solid green;
    background-color: darken($blue-dark, 10%);
  }
}


.left-nav nav ul li.hasChildren ul {
  margin-left: 25px;
  border-left: 2px solid #336;

  li:before {
    width: 15px;
    position: absolute;
    left: 0px;
    top: 22px;
    content: '';
    display: inline-block;
    border: 1px solid #336;
  }

  li.active:before {
    border: none;
  }

  li a{
    font-size: 14px;

    span.icon {
      width: 16px;
      height: 17px;
      vertical-align: top;
    }
    span.navTitle {
      margin-left: 10px;
      line-height: 16px;
    }
  }
}


.left-nav nav > ul > li span.icon {
  width: 18px;
  height: 19px;
  display: inline-block;
}

.left-nav nav > ul > li span.navTitle {
  margin-left: 15px;
  line-height: 18px;
}


body.leftNav--open {
  .left-nav {
    transform: translateX(0);
  }
  .main {
    margin-left: $left-nav-width;
  }
}


// ----- 768px and up ----- //
@media (min-width: $screen-sm-min) {
  .left-nav {
    transform: translateX(0);
  }
  .main {
    margin-left: $left-nav-width;
  }

}