.main-content {
  overflow-x: hidden !important;
  overflow-y: auto !important;
  background-color: $main-content-bg---color;
}

.mapSummaryItem {
  border: 2px solid khaki;
  background-color: #FA7252;
}