table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}

.table-striped > tbody > tr:nth-child(odd) {
  background-color: #FFF;
}

table th{
  font-weight: normal;
  color: #FFF;
}