// ----- VARS ----- //
$top-nav-border: 3px solid $main-content-bg---color;


.top-nav {
  height: $top-nav-height;
  // background-color: $blue-dark;

  &>:first-child {
    width: $left-nav-width;
    height: $top-nav-height;
    // background-color: $yellow;
    margin-top: 0;
  }
  &>div {
    height: $top-nav-height;
    display: inline-block;
  }
  .menu-icon {
    height: $top-nav-height;
    padding: 13px;
    cursor: pointer;
    float: left;
    user-select: none; // disables double click selection of element.
  }
  .fa-bars {
    color: #FFF;
  }
}

// ----- Overide Bootstrap ----- //
.navbar {
  border-radius: 0;
}

// ----- 1200px + ----- //
@media (min-width: $screen-lg-min) {
  .menu-icon {
    &:hover {
      // background-color: $green-ultraviolet;
    }
  }
}



// EXTRA MENU ITEMS

// ----- Charts data selector toggle ----- //
.top-nav__menu-icon_toggle-data {
  display: none;

  &.active {
    display: block;
    // background-color: #0FF;
  }

  a.toggleIcon {
    color: $green-pale;

    &:hover {
      text-decoration: none;
    }
  }
}



body.dataselector-list-chart--open
.top-nav__menu-icon_toggle-data--chart
a.toggleIcon,
body.dataselector-list-map--open
.top-nav__menu-icon_toggle-data--map
a.toggleIcon
 {
  transform: rotate(45deg);
}



