
<article>
    <h1>About Run Boaster</h1>

    <p>Designed to give runners a place to analayse and share running data.</p>

    <h3>Compare runs</h3>
    <p>Once a GPX file is uploaded we calculate a summary. The summary shows each kilometer and the pace per kilometer, as well as the total time and distance.</p>

    <p>Runners can then see how their runs compare using the table, map or charts.</p>

    <h3>Tech Stack</h3>
    <p>Run Boaster is a single page application built using MongoDb, Expressjs, Angularjs and Nodejs, AKA the MEAN stack.</p>
    <p>Leafletjs is used to display maps.</p>
    <p>D3 is used to display charts.</p>
    <p>The GeoJson format is used to store runs.</p>


    <div data-wg-carousel class="wg-carousel">
      <div class="wg-carousel__selector-container">
        <div class="wg-carousel__selector wg-carousel__selector--cross">
          <a class="fa fa-fw fa-plus toggleIcon wg-carousel__selector__icon"></a>
        </div>
      </div>

      <div class="wg-carousel__item-container">
        <div class="wg-carousel__item"><img src="/styles/img/theme/map-run.png"></div>
        <div class="wg-carousel__item"><img src="/styles/img/theme/table-run.png"></div>
        <div class="wg-carousel__item"><img src="/styles/img/theme/chart-run.png"></div>
      </div>
    </div>

</article>