
<article class="main-content__article--promo">
    <h2>What in the world is Run Boaster?</h2>
      <p>Inspired by a brother's need to boast and brag about their running exploits we thought we'd create the perfect boasting platform.</p>

      <p>The hope is that one day we'll be able to boast about our own running. But we're still in the slow lane for now.</p>

      <div class="main-content__triplets__container">
        <h3 class="main-content__triplets__heading">How it works</h3>

          <!-- Summary of what we are -->
          <div class="main-content__triplets__row row">
            <div class="text-center main-content__triplets">
              <div class="col-lg-4">
                <img src="/styles/img/theme/iphone6.svg" width="48px">
                <img src="/styles/img/theme/watch-2.jpg" width="115px">
                <p>Record your runs using the many apps and devices</p>
              </div>

              <div class="col-lg-4">
                <div class="main-content__triplets__img__container">
                  <a class="fa fa-upload fa-5x icons--promo main-content__triplets__img"></a>
                </div>
                <p>Download your data as GPX files. Then upload them to Run&nbsp;Boaster</p>
              </div>

              <div class="col-lg-4">
                <div class="main-content__triplets__img__container">
                  <a class="fa fa-area-chart fa-5x icons--promo main-content__triplets__img"></a>
                </div>
                <p>Compare your runs with our charts, maps and tables, then brag about them to friends</p>
              </div>
            </div>
          </div>
        </div>


    <h2>We're under active (no pun intended) development</h2>
      <p>Yes we're still developing the site. So what you see is the initial stages of what we hope to achieve.</p>
      <p>We'll continue to update the site with new functionality.</p>
      <p>Our aim is to include sharing abilities based around smug points.</p>
      <p>We'll compare your latest run against your others and optionally against peers to tell you if you've run like a granny or like Rambo.</p>
      <p>Then you can choose to share it with the world via your usual social channels.</p>


    <h2>Demo Account</h2>
      <p>If your just intent on poking around to see what we are about. You can sign in using the demo account below.</p>

      <p>user: demo</p>
      <p>password: password</p>


    <h2>Tech Stack</h2>
      <p>Run Boaster is a single page application built using MongoDb, Expressjs, Angularjs and Nodejs, AKA the MEAN stack.</p>
      <p>Leafletjs is used to display maps.</p>
      <p>D3 is used to display charts.</p>
      <p>The GeoJson format is used to store runs.</p>


    <p>Leave your feedback: <a class="mailto" href="mailto:mrwarrengreen@gmail.com">  mrwarrengreen @ gmail . com</a></p>

    <p>Thanks for reading.</p>

</article>