<article>
  <p>Welcome, please choose which you would like to do...</p>

  <div class="welcome__welcome-container">
    <div class="row">
      <div class="col-xs-6 welcome__container-column">
        <a ui-sref="tableRuns" class="welcome__items">
          <div class="welcome__items__heading">
            <span class="fa fa-lg fa-fw fa-table"></span>
            <h2 class="welcome__items__heading__title">Table</h2>
          </div>
          <p class="welcome__items__description">See your latest runs and how they compare in a table. Use the headings and order by fastest over any kilometer or total time.</p>
        </a>
      </div>

      <div class="col-xs-6 welcome__container-column">
        <a ui-sref="mapRuns" class="welcome__items">
          <div class="welcome__items__heading">
            <span class="fa fa-lg fa-fw fa-map-marker"></span>
            <h2 class="welcome__items__heading__title">Map</h2>
          </div>
          <p class="welcome__items__description">
            Use the maps to see where you've run and the kilometer markers.
          </p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 welcome__container-column">
        <a ui-sref="charts" class="welcome__items">
          <div class="welcome__items__heading">
            <span class="fa fa-lg fa-fw fa-line-chart"></span>
            <h2 class="welcome__items__heading__title">Charts</h2>
          </div>
          <p class="welcome__items__description">
          Select which runs to compare and see your pace over distance.
          </p>
        </a>
      </div>

      <div class="col-xs-6 welcome__container-column">
        <a ui-sref="upload" class="welcome__items">
          <div class="welcome__items__heading">
            <span class="fa fa-lg fa-fw fa-upload"></span>
            <h2 class="welcome__items__heading__title">Upload</h2>
          </div>
          <p class="welcome__items__description">
            Upload your runs so that we can compute your data.
          </p>
        </a>
      </div>
    </div>
  </div>

</article>