<div>
  <input type="file" name="fileName" ng-file-select="onFileSelect($files)">
  <input type="file" ng-file-select="onFileSelect($files)" multiple>
  <div class="button" ng-file-select="onFileSelect($files)" data-multiple="true"></div>
  <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function"
        ng-show="dropSupported">drop files here</div>
  <div ng-file-drop-available="dropSupported=true"
        ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
  <button ng-click="upload.abort()">Cancel Upload</button>
</div>



<!-- <section>
  <form ng-submit="submitForm()" enctype="multipart/form-data">
    <div class="form-group">
      <input type="text" name="input" ng-model="uploadData.form.whay" />
      <input type="file" name="file" accept=".gpx" id="fileGpx" ng-model="form.data">
      <button class="btn btn-primary" type="submit" id="submitGpx">Submit</button>
    </div>
  </form>
</section> -->


<!--
WORKS WITHOUT USING ANGULARJS - IS THIS CROSS BROWSER? - TEST IN IE
 <section>
  <form method="post" action="/upload" enctype="multipart/form-data">
    <div class="form-group">
      <label for="fileGpx">Select a file to upload: </label>
      <input type="file" name="fileName" accept=".gpx" id="fileGpx">
      <button class="btn btn-primary" type="submit" id="submitGpx">Submit</button>
    </div>
  </form>
</section> -->
