<p>UPLOAD GPX FILES</p>
<form role="form">
  <div class="form-group">
    <div class="fileUpload btn btn-primary">
        <span>Upload</span>
        <!-- SINGLE FILE
        <input id="uploadBtn" upload-file-name class="upload" type="file" name="file" ng-file-select="onFileSelect($files)"> -->
        <input id="uploadBtn" class="upload" type="file" ng-file-select="onFileSelect($files)" multiple>
    </div>
  </div>
</form>
<ul data-upload-results id="uploadResults" class="list-unstyled upload-results">

</ul>