// ----- Colours ----- //

$green: #2AB21B;
$green-ultraviolet: #0FF;
$green-pale: #B9D43C;
$blue: #00008B;
$blue-light: #ADD8E6;
$blue-mediterranean: #0FF;
$blue-dark: #273135;
$terracotta: #FA7252;
$honeydew: #F0FFF0;
$yellow : #FFF40C;
$grey: #374140;
$grey-light: lighten($grey, 20%);
$blackish: #1C1B1C;


// ----- Theme colours ----- //
$main-content-bg---color: $honeydew;

$theme-bg---color: $grey;
$theme-font---color: $green-pale;


// ----- Top Nav ----- //
$top-nav-height: 50px;

// ----- Left Nav ----- //
$left-nav-width: 220px;

// ------ vertical lists ----- //
$vertical-list-spacing---height--mobile: 55px;
$vertical-list-spacing---height--gt-mobile: 45px;


// ----- Custom Chart ----- //
$dataselector-list---width: 300px;
$chart_colors: (
  #B65020, // brown
  #000, // blue
  #ec6b60, // turquoise
  #563D7C, // purple
  #F4FD1F, // yellow
  #EE5FF1, // violet pink
  #F28483, // red
  #6AF0D4, // violet green / blue
  #2C4F53, // dark green
  #3A4F56, // dark dark green
);


//== BOOTSTRAP Media queries breakpoints
//
// Extra small screen / phone 480px
// $screen-xs-min:              $screen-xs !default;

// Small screen / tablet 768px
//** Deprecated `$screen-sm` as of v3.0.1
// $screen-sm-min:              $screen-sm !default;

// Medium screen / desktop 992px
// $screen-md-min:              $screen-md !default;

// Large screen / wide desktop 1200px
// $screen-lg-min:              $screen-lg !default;
