// ----- Colours ----- //

$blue: #00008B;
$blue-light: #337ab7;
$blue-dark: #273135;
$turqoise: #FA7252;
$green-ultraviolet: #0FF;

// ----- Top Nav ----- //
$top-nav-height: 50px;

// ----- Left Nav ----- //
$left-nav-width: 220px;

// ------ vertical lists ----- //
$vertical-list-spacing---height--mobile: 55px;
$vertical-list-spacing---height--gt-mobile: 45px;


// ----- Custom Chart ----- //
$chart__dataselector__list---width: 220px;