// ----- Colours ----- //

$blue-light: #337ab7;
$blue-dark: #273135;
$turqoise: #FA7252;
$green-ultraviolet: #0FF;

// ----- Top Nav ----- //
$top-nav-height: 50px;

// ----- Left Nav ----- //
$left-nav-width: 220px;
