<!-- top navigation -->
<nav data-top-nav class="top-nav navbar navbar-fixed-top" id="top-nav-js">

  <div class="pull-right">

    <div ui-sref-active="active" data-top-nav-toggle-chart-data data-data-selector="map" class="hidden-lg menu-icon top-nav__menu-icon_toggle-data top-nav__menu-icon_toggle-data--map">
      <span ui-sref="mapRuns" class="fa fa-lg fa-fw fa-plus toggleIcon"></span>
    </div>

    <div ui-sref-active="active" data-top-nav-toggle-chart-data data-data-selector="chart" class="menu-icon top-nav__menu-icon_toggle-data top-nav__menu-icon_toggle-data--chart">
      <a ui-sref="charts" class="fa fa-lg fa-fw fa-plus toggleIcon"></a>
    </div>

    <div id="menu-icon-js" data-top-nav-menu-icon class="menu-icon">
      <a class="fa fa-lg fa-fw fa-bars"></a>
    </div>
  </div>

</nav>
<!-- END top navigation -->
