<navigation>
  <nav:item data-view="/dashboard" data-icon="fa fa-lg fa-fw fa-home" title="Dashboard"></nav:item>

  <nav:group data-icon="fa fa-lg fa-fw fa-line-chart" title="Charts" data-has-children="true" data-has-children-icon="fa fa-lg fa-fw fa-angle-left">
    <nav:item data-icon="fa fa-lg fa-fw fa-area-chart" data-view="charts" title="Custom Charts" ></nav:item>
    <nav:item data-icon="fa fa-lg fa-fw fa-bar-chart" data-view="c3-charts" title="C3.js"></nav:item>
  </nav:group>

  <nav:item data-view="tableRuns" data-icon="fa fa-lg fa-fw fa-table" title="Table"></nav:item>
  <nav:item data-view="mapRuns" data-icon="fa fa-lg fa-fw fa-map-marker" title="Map"></nav:item>
  <nav:item data-view="upload" data-icon="fa fa-lg fa-fw fa-upload" title="Upload Runs"></nav:item>

</navigation>